:root {
  --maincolor: #308879;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
}

header .logo {
  text-decoration: none;
  color: var(--maincolor);
  font-size: 30px;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav ul li {
  list-style: none;
  margin: 0 20px;
    transition: all 0.3s ease;
  animation: fadein 1s linear backwards;
  animation-delay: .8s;
}

header nav ul li a {
  text-decoration: none;
  color: var(--maincolor);
  font-size: 20px;
  transition: all 0.3s ease-in-out;

}

header nav ul li a:hover {
  letter-spacing: 3px;
}

header nav ul li a.active {
  background-color: var(--maincolor);
  color: white;
  border-radius: 50px;
  padding: 10px 80px;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px;
  background-color: #f8f8f9;
}
.container .image {
  margin-top: 200px;
}
.container .image img {
  width: 50vw;
}

.container .content {
  margin-top: -100px;
  padding-left: 100px;
}

.container .content h1 {
  color: var(--maincolor);
  font-size: 80px;
  animation: fadein 1s linear backwards;
}

.container .content h3 {
  color: var(--maincolor);
  font-size: 44px;
  font-weight: normal;
  animation: fadein 1s linear backwards;
  animation-delay: 0.2s;
}

.container .content p {
  color: #aaa;
  font-size: 15px;
  padding: 20px 0;
  animation: fadein 1s linear backwards;
  animation-delay: 0.3s;
}

.container .content button {
  outline: none;
  border: none;
  background-color: var(--maincolor);
  color: #fff;
  border-radius: 50px;
  font-size: 18px;
  height: 40px;
  width: 180px;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: fadein 1s linear backwards;
  animation-delay: 0.6s;
}

.container .content button:hover {
  opacity: 0.8;
  letter-spacing: 2px;
}

 @keyframes fadein {
  0% {
    transform: translateY(-150px) scale(0) rotate(45deg);
    transform-origin: left;
  }
  100% {
    transform: translateY(0px) scale(1) rotate(0deg);
    transform-origin: left;
  }
} 

@media (max-width: 992px) {

header nav ul li a.active {
  padding: 5px 40px;
}

.container .image {
  margin-top: 50px;
}
.container .image img {
  width: 40vw;
}

.container .content {
  margin-top: -50px;
  padding-left: 100px;
}

.container .content h1 {
  font-size: 50px;
}

.container .content h3 {
  font-size: 35px;
}

.container .content p {
  font-size: 12px;
  padding: 15px 0;
}

.container .content button {

  border-radius: 50px;
  font-size: 15px;
  height: 30px;
  width: 160px;
}

  
}


@media (max-width: 768px) {

header nav ul li a {
  display: none;
}
.container{
  flex-wrap: wrap;
  flex-direction: column;
}
.container .image{
  margin-top: -10px;
}
.container .image img {
  width: 60vw;
}

.container .content {
  margin-top: 100px;
  padding-left: 20px;
}

.container .content h1 {
  font-size: 40px;
}

.container .content h3 {
  font-size: 25px;
}

.container .content p {
  font-size: 12px;
  padding: 10px 0;
}

.container .content button {

  border-radius: 50px;
  font-size: 13px;
  height: 20px;
  width: 140px;
}

  
}